<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Création d'une note</ion-title>
    <ion-button class="ion-margin-end" slot="end" routerLink="/tabs/home">Retour</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item>
      <ion-select label="lieu lié à la note" label-placement="floating" [(ngModel)]="newNote.locationId">
        <ion-select-option *ngFor="let location of locationList" [value]="location.id">{{location.name}}</ion-select-option>
      </ion-select>
      <ion-icon name="add-circle" slot="end" routerLink="/new-location" color="success"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-input label="Titre" label-placement="floating" [(ngModel)]="newNote.title"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="date" label="Date" label-placement="floating" [(ngModel)]="newNote.date"></ion-input>
    </ion-item>
    <ion-item>
      <ion-textarea rows="5" label="Description" label-placement="floating" [(ngModel)]="newNote.description"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-grid>
        <ion-row>
            <ion-button>Ajouter une photo</ion-button>
        </ion-row>
        <ion-row>
            <p style="display: block; font-size: 12px; font-style: italic" *ngIf="newNote.photos.length === 0">Aucune photo ajoutée  pour le moment</p>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button expand="block"  color="warning">Vider le formulaire</ion-button>
        </ion-col>
        <ion-col>
          <ion-button expand="block" (click)="saveNote()">Valider</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>
