<ion-header>
  <ion-toolbar>
    <ion-button slot="start" fill="clear" (click)="close()" slot="end">Retour</ion-button>
    <ion-title>{{location.name}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-list-header color="tertiary">
      <ion-label>Statistiques du lieu</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label>Latitude</ion-label>
      <ion-text slot="end">{{location.localisation.lat}}</ion-text>
    </ion-item>
    <ion-item>
      <ion-label>Longitude</ion-label>
      <ion-text slot="end">{{location.localisation.long}}</ion-text>
    </ion-item>
    <ion-item>
      <ion-label>Nombre de notes</ion-label>
      <ion-chip color="success">{{location.notes.length}}</ion-chip>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-list-header color="tertiary">
      <ion-label>Liste des notes du lieu</ion-label>
    </ion-list-header>
    <ion-item *ngIf="locationServ.modalNotes.length === 0">
      <p>Aucune notes associée à ce lieu</p>
    </ion-item>
    <ion-item *ngFor="let note of locationServ.modalNotes">
      <ion-label>
        {{note.title}}
        <p>{{note.date | date: "dd/MM/yyyy"}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button slot="end" color="danger" class="ion-margin-end" (click)="showDeleteConfirm(location)"><ion-icon name="trash"></ion-icon></ion-button>
  </ion-toolbar>
</ion-footer>
