<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Carnet de notes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-list-header color="tertiary">
      <ion-label>Filtres</ion-label>
      <ion-button color="dark" (click)="filterNotePerDate()">trier</ion-button>
      <ion-button color="dark" (click)="refreshFilters()"><ion-icon name="refresh"></ion-icon></ion-button>
    </ion-list-header>
    <ion-item>
      <ion-label position="stacked">par date du</ion-label>
      <ion-input aria-labelledby="" type="date" [(ngModel)]="filters.startDate"></ion-input>
      <ion-label position="stacked">au</ion-label>
      <ion-input aria-labelledby="" type="date" [(ngModel)]="filters.endDate"></ion-input>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-list-header color="tertiary">Notes</ion-list-header>
    <ion-item-sliding *ngFor="let note of noteListFiltered">
      <ion-item>
        <ion-label>
          {{note.title}}
          <p>{{note.date | date: "dd/MM/yyyy"}}</p>
        </ion-label>
        <ion-icon slot="end" name="arrow-back-circle"></ion-icon>
      </ion-item>
      <ion-item-options>
        <ion-item-option color="warning"><ion-icon size="large" name="reader" routerLink="/note-details"  [queryParams]="{id: note.id}"></ion-icon></ion-item-option>
        <ion-item-option color="danger"><ion-icon size="large" name="trash" (click)="ShowDelete(note.id)"></ion-icon></ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button expand="block" class="ion-margin" routerLink="/new-note">Ajouter une note</ion-button>
  </ion-toolbar>
</ion-footer>
