<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Carnet de notes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item-sliding *ngFor="let note of noteList">
      <ion-item>
        <ion-label>
          {{note.title}}
          <p>{{note.date | date: "dd/MM/yyyy"}}</p>
        </ion-label>
        <ion-icon slot="end" name="arrow-back-circle"></ion-icon>
      </ion-item>
      <ion-item-options>
        <ion-item-option color="warning"><ion-icon size="large" name="reader"></ion-icon></ion-item-option>
        <ion-item-option color="danger"><ion-icon size="large" name="trash" (click)="ShowDelete(note.id)"></ion-icon></ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button expand="block" class="ion-margin" routerLink="/new-note">Ajouter une note</ion-button>
  </ion-toolbar>
</ion-footer>
